/* Admin.css */
.admin-heads{
  
  text-decoration:solid;
  text-shadow:  2px 2px 5px white;
  padding: 20px 20px 20px 20px;
  color: blue;
}
.whole-contain{
  background-image: linear-gradient(to top,rgba(32,32,32,0.5)50%,rgba(38,37,37,.5)50%),url("https://wallpapercave.com/wp/wp3231718.jpg");
  /* background-position: 0%;
  backface-visibility: visible; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.admin-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color:lightgrey;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgb(246, 244, 244);
}

.admin-container h2 {
  color: #333;
  text-align: center;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.admin-form label {
  margin: 10px 0;
}

.admin-form select,
.admin-form input,
.admin-form button {
  padding: 10px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
}

.admin-form button {
  background-color: burlywood;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.admin-form button:hover {
  background-color:red;
}

/* Add more styles or adjust as needed */
