/* HomePage.css */

.home-container {
  position: relative;
  overflow: hidden;
  height: 93vh; /* Adjust the height based on your preference */
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
}

.background-slide {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black; /* Adjust text color based on your background */
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
}

.footer-section h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section p {
  margin: 0.5rem 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
}
